html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
body{
    background-color: #c0c0c0;
    opacity: 1;

    background-position: 0 0,21px 21px;
}

nav {
    display: block;
  }

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
}

.flex > nav>button,form > input[type="Submit"],#postbutton{ /*credit from Button6 https://getcssscan.com/css-buttons-examples */
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}
.flex > nav>button:hover,form > input[type="Submit"]:hover,button:focus,form > input[type="Submit"]:focus,#postbutton:focus,#postbutton:hover{
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}
.flex > nav>button:hover,form > input[type="Submit"]:hover,#postbutton:hover{
    transform: translateY(-1px);
}
.flex > nav>button:avtive,form > input[type="Submit"]:active,#postbutton:active{
    background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#search-bar input[type=text],#textmsg {
  float: center;
  padding: 6px;
  border: 1px solid black;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


#job-panels,#feed-container,#recorded-jobs{
    display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  gap: 10px;
}
#job-details,#big-text{
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  gap: 10px;
  height: auto;
}
.job-panel,.recorded-job{
    width: 1153px;
    height: auto;
    
    background: rgb(255, 255, 255);
    border-radius: 25px;
}
.job-panel > img,.recorded-job>img{
    margin-top: 1%;
    margin-left: 2%;
    float: left;
    border: 1px solid #ddd;
    border-radius: 25%;
    padding: 5px;
    width: 300px;
    height: 220px;
    object-fit: cover; object-position: 100%;
}
.job-panel > h3,.recorded-job >h3{
    padding-left : 30%;
    text-align: left;

    font-family: 'Garamond';
    font-weight: bold;
    font-size: 200%;
    line-height: 20%;
}
.job-panel > p,.recorded-job>p{
    padding-left : 35%;
    text-align: left;

    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 20%;
}
.job-panel > button,.recorded-job>button{
    margin-bottom: 2%;
    margin-right: 2%;
    float: right;
}
#job-details> button{
    left: 45%;
    bottom: 2%;
}
.job-panel > button,#job-details> #save-button, .recorded-job>button{  /*credit from Button53 https://getcssscan.com/css-buttons-examples */
        background-color: rgb(138, 192, 234);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 150px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.job-panel > button:focus ,#save-button:focus,.recorded-job >button:focus{
    outline: 0;
  }
  
.job-panel > button:after ,#save-button:after,.recorded-job >button:after{
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
.job-panel > button:hover:after ,#save-button:hover:after,.recorded-job >button:hover:after{
    bottom: 2px;
    left: 2px;
}

#job-image{
    margin-top: 1%;
    margin-left: 2%;
    border: 1px solid #ddd;
    border-radius: 25%;
    padding: 5px;
    height: 250px;
    max-width: 35%;
}

#job-details >h2{
    font-family: 'Garamond';
    font-weight: bold;
    font-size: 200%;
    line-height: 20%;
}

#job-details >p{
font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 120%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2%;
}

.newsfeed{
    width: 1153px;
    height: auto;
    
    background: rgb(255, 255, 255);
    border-radius: 25px;
}

.postmsg{
    padding: 1%;
    font-family: 'Inter';
    font-size: 100%;
    line-height: 120%;
}

.postuser{
    padding: 1%;
    font-family: 'Inter';
    font-size: 80%;
    line-height: 50%;
}

#profileImage>img{
    margin-top: 1%;
    margin-left: 2%;
    float: left;
    padding: 5px;
    width: 25%;
    max-height: 10%;
}
#displayPic > img,#profileImage>img{
    width: 300px; height: 300px;
    padding: 20px;
    object-fit: cover; object-position: 100%;
}
#centerProfile >fieldset> h2{
    font-weight: bold;
    font-size: 100%;
    margin-top: 5%;
    margin-right: 40%;
    line-height: 20%;
}


/* Grid display */
.grid-container{
    display: grid;
    grid-template-columns: 5% 15% auto 5%;
    grid-gap: 10px;
}

.grid-container > div{
    font-size: 20px;
    text-align: center;
    
} 

.grid-container > #headline{
    grid-column: 1 / span  4;
    background-color:#2B4293;

    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 44px;
}

.grid-container > #center{
    grid-column: 2 / span 2;

    
}
.grid-container > #leftProfile{
    grid-column: 1 / span 2;
}
.grid-container > #centerProfile{
    grid-column: 3 / span 2;
}

.grid-container > #footline{
    grid-column: 1 / span 4;
    background-color: #2B4293;

    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10%;
    line-height: 44px;
} 
#centerProfile > fieldset,#leftProfile > fieldset{
    background: rgb(255, 255, 255);
    border-radius: 25px;
}

a:link{
	color: #2214ef; 
}  
a:visited{
	color: #4e1298; 
} 
 a:hover{ 
	color: #FF00FF; 
} 